In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/customer_supermarket.csv', sep='\t', index_col=0)
df.head()

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,01/12/10 08:26,"2,55",17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,01/12/10 08:26,"2,75",17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8
3,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6

In [3]:
df.shape

(471910, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 471910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         471910 non-null  object
 1   BasketDate       471910 non-null  object
 2   Sale             471910 non-null  object
 3   CustomerID       406830 non-null  float64
 4   CustomerCountry  471910 non-null  object
 5   ProdID           471910 non-null  object
 6   ProdDescr        471157 non-null  object
 7   Qta              471910 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 32.4+ MB

In [5]:
df.describe()

          CustomerID            Qta
count  406830.000000  471910.000000
mean    15287.684160      10.716533
std      1713.603074     231.355136
min     12346.000000  -80995.000000
25%     13953.000000       1.000000
50%     15152.000000       4.000000
75%     16791.000000      12.000000
max     18287.000000   80995.000000