### working with sqlite3

In [4]:
import sqlite3

In [5]:
conn = sqlite3.connect("example.db")

In [6]:
cursor = conn.cursor()

In [7]:
res = cursor.execute("""CREATE TABLE EMPLOYEE(
    FIRST_NAME CHAR(20) NOT NULL,
    LAST_NAME CHAR(20),
    AGE INT NOT NULL,
    SEX CHAR(1),
    INCOME FLOAT)""")

OperationalError: table EMPLOYEE already exists

In [ ]:
conn.commit()

In [ ]:
data = [
    ("Ramya", "Rama Priya", 27, "F", 9000),
    ("Arjn", "Stha", 23, "M", 3000),
    ("Sudip", "Chaudhary", 23, "M", 8000),
    ("Rajan", "Ghimire", 25, "M", 6000),
    ("Prajwal", "Luitel", 24, "M", 7000),
]
stmt = "INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES (?, ?, ?, ?, ?)"
cursor.executemany(stmt,data)

In [ ]:
conn.commit()

In [ ]:
cursor.execute("""SELECT * from EMPLOYEE""")

In [ ]:
result = cursor.fetchone()
print(result)

('Ramya', 'Rama Priya', 27, 'F', 9000.0)

In [ ]:
result = cursor.fetchmany(2)
print(result)

[('Arjn', 'Stha', 22, 'M', 3000.0), ('Sudip', 'Chaudhary', 22, 'M', 8000.0)]

In [ ]:
result = cursor.fetchall()
print(result)

[('Rajan', 'Ghimire', 24, 'M', 6000.0), ('Prajwal', 'Luitel', 23, 'M', 7000.0), ('Ramya', 'Rama Priya', 27, 'F', 9000.0), ('Arjn', 'Stha', 23, 'M', 3000.0), ('Sudip', 'Chaudhary', 23, 'M', 8000.0), ('Rajan', 'Ghimire', 25, 'M', 6000.0), ('Prajwal', 'Luitel', 24, 'M', 7000.0)]

In [ ]:
sql = """UPDATE EMPLOYEE SET AGE=AGE-1 WHERE SEX = 'M'"""
cursor.execute(sql)

In [ ]:
conn.commit()

rename the column sex to gender

rename the table to your name

delete 1 column (use Alter)

In [8]:
cursor.execute("""ALTER TABLE EMPLOYEE RENAME TO AARJEYAN""")

In [9]:
conn.commit()