### Python exercises with if-else, for and while loops

#### Question 1: Print First 10 natural numbers using while loop.

In [85]:
#implementing the for loop and range to loop till that range
for number in range(1, 10, 1):
    #printing the number
    print(number)

1
2
3
4
5
6
7
8
9

#### Question 2: Print the following pattern.

In [86]:
#initializing the num
num = 4

# Outer loop for each row
for i in range(1, num + 1):
    # Printing numbers in increasing order
    for j in range(1, i + 1):
        print(j, end="")
    # Printing spaces
    for k in range(2 * num - 2 * i):
        print(" ", end="")
    # Printing 1 at the end of each row
    print(' '*j,"1")

1        1
12       1
123      1
1234     1

#### Question 3: Accept number from user and calculate the sum of all number between 1 and given number.

In [87]:
# Accept a number from the user
num = int(input("Enter a number: "))

# Initialize a variable to store the sum
total_sum = 0

# Loop through numbers from 1 to the given number
for i in range(1, num + 1):
    # Add each number to the total sum
    total_sum += i

# Print the sum
print("The sum of all numbers between 1 and", num, "is:", total_sum)

Enter a number: 7
The sum of all numbers between 1 and 7 is: 28

#### Question 4: Print multiplication table of given number.

In [88]:
#asking user to input the num of thier choice to get multiplication
num = int(input("Enter the number: "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
    print(num*i)

Enter the number: 7
7
14
21
28
35
42
49
56
63
70

#### Question 5: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration.

In [89]:
#defining the list named list1
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
#using the for loop to loop the list
for i in list1:
    #checking whether the number is greater than 150
    if(i > 150):
        #break the loop if the number is greater tgan 150
        break 
        #using the modulus function to find the no divisible by the 5
    elif(i%5 ==0):
        #printing all the number divisible by 5
        print(i)

15
55
75
150

#### Question 6: Given a number count the total number of digits in a number.

In [90]:
#asking user to input the number
num = int(input("enter the number:"))
#converting the int to str to count 
a = str(num)
#using the len function to count the number of the digits in a number
print(len(a))

enter the number:2345
4

#### Question 7: Print the following pattern using for loop.

In [91]:
#intializing the num to 5
num = 5
# using the for loop to range and adding by 1
for i in range(0, num + 1):
    
    for j in range(num - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#### Question 8: Reverse the following list using for loop. list = [10, 20, 30, 40, 50]

In [92]:
# input list as lst
lst = [10, 11, 12, 13, 14, 15]
new_list = []  # defining an new empty list as new_list
 
# iterate to reverse the list
for i in lst:
    # reversing the list
    new_list.insert(0, i)
# printing result
print(new_list)

[15, 14, 13, 12, 11, 10]

#### Question 9: Display a message “Done” after successful execution of for loop.

In [93]:
#inintilizing the loop in range 2
for i in range(2):
    print(i)
# print “Done” after successful execution of for loop
print("Done!")

0
1
Done!

#### Question 10: Display Fibonacci series up to 10 terms.Fibonacci sequence: Each number is the sum of the two preceding ones, starting from 0 and 1.

In [94]:
#inintilizing the value of n
n=10

# inintilizing the first two terms
n1, n2 = 0, 1
count = 0

# checking if the number of terms is valid
if n<= 0:
    print("Please enter a positive integer")

# if there is only one term, returning the n1
elif n == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
    
# generating  fibonacci sequence
else:
    print("Fibonacci sequence:")
    #using the while loop 
    while count < n:
        print(n1)
        nth = n1 + n2
       # updating theS values
        n1 = n2
        n2 = nth
        count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

#### Question 11: Write a loop to find the factorial of any number. Note: The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

In [95]:
# defining the num as 7 
num = 5

factorial =1
# check if the number is negative, positive or zero
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    #using for loop to calculate the factorial 
    for i in range(1,num + 1):
        # calculating the factorial by mutiplying using loop
        factorial = factorial*i
    # printing the factorial of the number
    print("The factorial of",num,"is",factorial)

The factorial of 5 is 120

#### Question 12: Python program to display all the prime numbers within a range.
Note: A Prime Number is a whole number that cannot be made by multiplying other whole numbers.
Examples:
37 is a Prime Number because no other whole numbers multiply together to make it. o 6
is not a Prime Number because it can be made by 2×3 = 6

In [96]:
# Python program to display all the prime numbers within an interval

start_num = 20 #Starting index
end_num = 50 #ending value
# displying the meaasge that I am printing in between this range
print("Prime numbers between", start_num, "and", end_num, "are:")

#using the for-loop and range of strat_num and end_num
for num in range(start_num, end_num + 1):
   # all prime numbers are greater than 1 so checking the condition
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 20 and 50 are:
23
29
31
37
41
43
47