In [1]:
import math
import statistics

# List

In [3]:
# Numerical collections operations
numbers_list = [10, 20, 30, 40, 50]
# Apply sum, min, max, calculate average, and call standard deviation function

# summing all the numbers form the list and making variable list_addtion
list_addition = sum(numbers_list)
print(f"Addtion of the list : {list_addition}")

Addtion of the list : 150

In [4]:
# displaying min value from the list
print(min(numbers_list))

10

In [5]:
# Displaying max value using max operations
print(max(numbers_list))

50

In [6]:
# Calculate the average of the list
sum_of_the_list = sum(numbers_list)
length = len(numbers_list)
avg = sum_of_the_list/length
print(avg)

30.0

In [7]:
#Calculating the standard deviation from the given list
numbers_list = [10, 20, 30, 40, 50]
#calling the function for calculating standard deviation
print(statistics.stdev(numbers_list))

15.811388300841896

# Nested Lists

In [8]:
nested_numbers_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Calculate total sum, find min and max values across nested lists

In [9]:
# changing the nested list into flat list
flat_list = [each for sublist in nested_numbers_list for each in sublist]

In [10]:
# summing all the numbers form the nested list using flat list 
print(sum(flat_list))

45

In [11]:
print(min(flat_list))

1

In [12]:
print(max(flat_list))

9

# Tuples

In [13]:
numbers_tuple = (5, 10, 15, 20, 25)
# Perform min, max, and calculate average

In [14]:
# Displaying minimum elements from tuples
print(min(numbers_tuple))

5

In [15]:
#Displaying maximum elements from tuples
print(max(numbers_tuple))

25

In [16]:
#calculate the average of the tuples
print(sum(numbers_tuple)/len(numbers_tuple))

15.0

# Sets

In [17]:
# Set operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
# Demonstrate union, intersection, and difference

In [18]:
# Displating Union of the set
print(set_a.union(set_b))

{1, 2, 3, 4, 5, 6}

In [19]:
#Displaying Intersection of the set
print(set_a.intersection(set_b))

{3, 4}

In [20]:
#Displating the difference of the set
print(set_a.difference(set_b))

{1, 2}

In [21]:
# To show the removal of the duplicate form the list
l = [1,2,2,2,3,4,5,5,6]
newlist = []
set(l)
for each in set(l):
    newlist.append(each)
print(newlist)

[1, 2, 3, 4, 5, 6]

In [22]:
# perform the sum in the set
numbers_set = {1, 2, 3, 4, 5}
sum1 = 0
for each in numbers_set:
    sum1 += each
print(f"Sum of the set is {sum1}")

Sum of the set is 15

In [23]:
# Display the min from the set
numbers_set = {1, 2, 3, 4, 5}
print(min(numbers_set))

1

In [24]:
#Displaying the max from the set
numbers_set = {1, 2, 3, 4, 5}
print(max(numbers_set))

5

# String Operations

In [25]:
# String collections operations
strings_list = ["hello", "world", "python", "programming"]
# Perform uppercase, lowercase conversion, join strings, and replace words

In [26]:
# Converting all the strings to uppercase
for each in strings_list:
    print(each.upper())

HELLO
WORLD
PYTHON
PROGRAMMING

In [27]:
# Converting all the strings into lowercase
for each in strings_list:
    print(each.lower())

hello
world
python
programming

In [28]:
# Concatenate strings with a seperator
seperator = ","
print(seperator.join(strings_list))

hello,world,python,programming

In [29]:
# to show the split of string into list of words
my_string = "Hello there my name is Aarjeyan"
my_list = my_string.split(" ")
print(my_list)

['Hello', 'there', 'my', 'name', 'is', 'Aarjeyan']

In [30]:
#Replacing the specific word in the list of words
my_list[5] = "Arjn"
print(my_list)

['Hello', 'there', 'my', 'name', 'is', 'Arjn']

# Dictionary Operations

In [31]:
# Dictionary operations
string_dict = {"a": "apple", "b": "banana", "c": "cherry"}
# Manipulate dictionary values: uppercase conversion, find specific keys, concatenate values

In [32]:
# Changing values to uppercase
for key in string_dict:
    print(string_dict[key].upper())

APPLE
BANANA
CHERRY

In [33]:
# finding keys with specific value
for key in string_dict:
    if string_dict[key] == "cherry":
        print(f"Key with the value cherry is {key}")

Key with the value cherry is c

In [34]:
# concatenate all the values with a seperator
seperator = ","
new_list = []
for each_value in string_dict.values():
    new_list.append(each_value)

print(seperator.join(new_list))

apple,banana,cherry

# Additional Challenges

In [35]:
nested_numbers_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
# Average for each inner list in nested lists
for sublist in nested_numbers_list:
    print(sublist)
    print(f"Sum of each subset is {sum(sublist)}")

[1, 2, 3]
Sum of each subset is 6
[4, 5, 6]
Sum of each subset is 15
[7, 8, 9]
Sum of each subset is 24

In [38]:
# Overall average
flat_list = [each for sublist in nested_numbers_list for each in sublist]
print(sum(flat_list)/len(flat_list))

5.0

In [ ]:
jupyter nbconvert --to webpdf --allow-chromium-download your-notebook-file.ipynb