In [1]:
from sklearn.datasets import fetch_20newsgroups

In [2]:
news = fetch_20newsgroups(subset="all")

In [3]:
print(len(news.data))

18846

In [4]:
import pandas as pd
data = {
    "news" : list(news.data),
    "target" : list(news.target)
}
df = pd.DataFrame(data)

e:\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
df.head()

                                                news  target
0  From: Mamatha Devineni Ratnam <mr47+@andrew.cm...      10
1  From: mblawson@midway.ecn.uoknor.edu (Matthew ...       3
2  From: hilmi-er@dsv.su.se (Hilmi Eren)\nSubject...      17
3  From: guyd@austin.ibm.com (Guy Dawson)\nSubjec...       3
4  From: Alexander Samuel McDiarmid <am2o+@andrew...       4

In [6]:
count_df = df.target.value_counts().reset_index()

In [8]:
count_df.head()

   target  count
0      10    999
1      15    997
2       8    996
3       9    994
4      11    991

In [9]:
import matplotlib as plt

rest in module 7

Hyperparamater tuning and K fold validation on the top 2 models