Rows --> Records

Columns --> Fields

In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client= MongoClient()

# the name of the database will be the object name after ".". here: "test" will be the created database.

In [4]:
db = client.test # the name of the database will be the object name after ".". here: "test" will be the created database.

# similarly the name of the collection (table name) will be the object name after ".". here: "employee" will be the created collection.

In [5]:
employee = db.employee # similarly the name of the collection (table name) will be the object name after ".". here: "employee" will be the created collection.

In [6]:
employee

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

# to check if the database exists or not

In [24]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydb', 'test']

In [9]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} exist".format("test"))

# to check if the collection exist or not

In [10]:
print(db.list_collection_names())

[]

In [11]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists")

# inserting one record

In [12]:
employee_details = {
    "Name":"Raj Kumar",
    "Adress": "Sears Streer, NZ",
    "Age":"42"
}

In [13]:
result = employee.insert_one(employee_details)

In [14]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydb', 'test']

In [15]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} exist".format("test"))

The test exist

In [16]:
print(db.list_collection_names())

['employee']

In [17]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists")

The employee collection exists

In [18]:
# checking the id of the table inserted
print(result.inserted_id)

664d2e88246c8fecfa25e585

# inserting many records at a time

In [19]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

In [20]:
x = employee.insert_many(mylist)

In [21]:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# read one record

In [22]:
x = employee.find_one()
print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}

# read all records

In [23]:
for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [25]:
myresult = employee.find().limit(5)

#print the result
for x in myresult:
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

# return only some fields

0 --> to not print

1 --> to print

In [27]:
for x in employee.find({},{"_id":0,"name":1,"address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [29]:
for x in employee.find({},{"Age":0}):
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

# Advance MongoDB Query

In [30]:
myquery = {"address":"Highway 37"}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

### to find the 5 records from the reverse order

In [31]:
myresult = employee.find().sort("_id",-1).limit(5)

#print the result
for x in myresult:
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

# filter with RE

In [32]:
# find the address starting from V
myquery = {"address":{"$regex":"^V"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [33]:
# find the address containing "l"
myquery = {"address":{"$regex":"l"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [34]:
# find the address starting from V OR S
myquery = {"$or":[{"address":{"$regex":"^V"}},
           {"address":{"$regex":"^S"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [35]:
# find the address starting from V OR S
myquery = {"address":{"$regex":"^S|^V"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [36]:
# find the address starting from Y AND have the number "1" 
myquery = {"$and":[{"address":{"$regex":"^Y"}},
           {"address":{"$regex":"1"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [37]:
# find the address starting from Y AND have the number "1" AND name starting with N
myquery = {"$and":[{"address":{"$regex":"^Y"}},
           {"address":{"$regex":"1"}},
           {"name":{"$regex":"^N"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [46]:
# find the address starting from Y AND have the number "1" AND name not equal to "Nicky"
myquery = {"$and":[{"address":{"$regex":"^Y"}},
           {"address":{"$regex":"1"}},
           {"name":{"$ne":"Nicky"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

# $gt (includes the one we mention) 
### in below example "S" will be included

In [49]:
myquery = {"address":{"$gt":"S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

# $lt

In [50]:
myquery = {"address":{"$lt":"S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

# sort

## sort("name",1) #ascending
## sort("name",-1) #descending

In [51]:
# ascending
mydoc = employee.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [52]:
#descending
mydoc = employee.find().sort("name",-1)

for x in mydoc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}

In [53]:
mydoc = employee.find().sort({"name" : 1, "address": 1}).limit(5)

for x in mydoc:
    
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

# update one record

In [54]:
for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Adress': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [62]:
myquery = {"address":"Valley 345"}
newvalues = {"$set":{"address":"Canyon 123"}}

employee.update_one(myquery,newvalues)

for x in employee.find():
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Age': '42', 'address': 'Sears Streer, NZ'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [56]:
# Update documents by renaming the field 'Adress' to 'address'
employee.update_many(
    {"Adress": {"$exists": True}},
    {"$rename": {"Adress": "address"}}
)

# Verify the change
mydoc = employee.find()
for x in mydoc:
    print(x)

{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Age': '42', 'address': 'Sears Streer, NZ'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [64]:
# updating the address starting with C
myquery = {"address":{"$regex":"^C"}}
newvalues = {"$set":{"name":"Minnie"}}

x = employee.update_many(myquery,newvalues)

print(x.modified_count,"documents updated.")

for x in employee.find():
    print(x)

0 documents updated.
{'_id': ObjectId('664d2e88246c8fecfa25e585'), 'Name': 'Raj Kumar', 'Age': '42', 'address': 'Sears Streer, NZ'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [58]:
db.employee.delete_one({"Age":"35"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [60]:
myquery = {"address":"Mountain 21"}

employee.delete_one(myquery)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [61]:
myquery = {"address" : {"$regex" : "^Y"}}

x = employee.delete_many(myquery)

print(x.deleted_count, "documents deleted!")

3 documents deleted!

x = employee.delete_many({})

print(x.deleted_count, "documents deleted.")

employee.drop()

# home
rename the collection from employee to employee_details

address to employee_address

delete the field "name"